* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
}

a:visited {
    color: inherit;
}

.tabpanel {
    display: none;
}

.active,
.tabpanel:target {
    display: block;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: red;
}

main {
    background-color: blue;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}